*{
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
}

.menuHeading{
  background-image:url(../the-flatiron-building.png);
  color:white;
}

h1{
  font-size: 70px;
}

a{
  color: white;
  font-size: 18px;
  font-weight: normal;
}

h3{
  font-size: 32px;
}

h5,
h4{
  font-size: 23px;
}

h4{
  color: white;
  background-image: url(../the-flatiron-building.png);
}

p.text{
  font-size: 14px;
  font-weight: normal;
}

.footer p{
  font-size:11px;
  color:white;
  background-color: dimgray;
  text-align: left;
}
